<p>dispositivos works!</p>


<div *ngIf="Dispositivos!=null; else espera">


  <table class="table table-bordered" id="tb1Contactos" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Descripcion</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Disp of Dispositivos">
        <td>{{Disp.id}}</td>
        <td>{{Disp.descripcion}}</td>
        <td>{{Disp.latitud}}</td>
        <td>{{Disp.longitud}}</td>
        <td>Pendiente</td>
      </tr>
    </tbody>

  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>
